<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <nav>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about_us') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
            <a href="{{ url_for('FAQs') }}">FAQs</a>
            <a href="{{ url_for('reviews') }}">Reviews</a>
            <a href="{{ url_for('service_providers') }}">Service-Providers</a>
            <a href="{{ url_for('sign_in') }}">Sign-In</a>
            <a href="{{ url_for('sign_up') }}">Sign-Up</a>

        </nav>
        
    </nav>
    {% block content %}{% endblock %}
    <footer>...</footer>
</body>
</html>
