<html>
  <head>
    <title>Our Local Service Finder</title>

    <link rel="stylesheet" href="../templates/static/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/d2b0b7685a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
      </label>
      <label class="logo"><a href="Home.html">Service-Finder</a></label>
      <ul>
        <li><a class="active" href="Home.html">Home</a></li>
        <li><a href="About-Us.html" target="_blank">About Us</a></li>
        <li><a href="FAQs.html" target="_blank">FAQ</a></li>
        <li><a href="Sign-Up.html" target="_blank">Sign Up</a></li>
        <li><a href="Sign-In.html" target="_blank">Sign In</a></li>
        <li><a>More</a></li>
      </ul>
    </nav>

    <div class="image1">
      <div class="container">
        <h1>Welcome to your one-stop Local Service Finder</h1>
        <p>
          We are at your beck and call to provide you with reliable and
          efficient service providers that can meet your needs with just a call
        </p>
        <form action="#" class="search-bar">
          <input type="text" placeholder="What do you want to do today?" />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
    <footer>
      <div class="bottom">
        <div class="help">
          <h3>NEED HELP?</h3>
          <ul>
            <li><a>Contact Us</a></li>
            <li><a>Chat With Us</a></li>
          </ul>
        </div>
        <div class="pay">
          <h3>PAYMENT METHODS</h3>
        </div>
        <div class="connect">
          <h3>CONNECT WITH US</h3>
        </div>
      </div>
    </footer>
  </body>
</html>
