<html>
<head>
    <title>Our Local Service Finder</title>
    
    <link rel="stylesheet" href="../templates/static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d2b0b7685a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type = "checkbox" id = "check">
        <label for = "check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label class ="logo">LocalFinda</label>
        <ul>
            <li><a class="active" href = "Home.html">Home</a></li>
            <li><a href = "About-Us.html">About Us</a></li>
            <li><a href = "FAQs.html">FAQ</a></li>
            <li><a href = "Sign-Up.html">Sign Up</a></li>
            <li><a href = "Sign-In.html">Sign In</a></li>
        </ul>
    </nav>
    
     <div class="image1">
        <div class="container">
          <h1>Welcome to your one-stop Local Service Finder</h1>
          <p>We are at your beck and call to provide you with reliable and efficient service providers that can meet your needs with just a call</p>
          <form action="" class = "search-bar">
            <input type="text" placeholder="What do you want to do today?">
            <button type ="submit">Search</button>
            </form>
        </div>
    </div>
     <footer>
        <div class = "bottom">
            <a href="#">Contact Us</a>
        </div>
     </footer>
</body>
</html>
