<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/static/css/sign-in-up.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="blur-bg-overlay"></div>
    <div class="form-popup">
        <div class="form-box">
            <div class="form-details">
                <h2>Create Account</h2>
                <p>To be part of our community, please sign in using your personal information.</p>
            </div>
            <div class="form-content">
                <h2>SIGN-UP</h2>
                <form action="#">
                    <div class="input-field">
                        <input type="text" required>
                        <label>Enter Your Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" required>
                        <label>Create Password</label>
                    </div>
                    <div class="policy-text"><input type="checkbox" id="policy">
                        <label for="policy"> I agree to the <a href="#">Terms & Conditions</a></label>
                    </div>
                    <button type="submit">
                        <a href="Account.html" target="_blank" class = "link">Sign Up</a>
                    </button>
                </form>
                <div class="bottom-link">
                    Already have an account?
                    <a href="Sign-In.html">Log In</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>