<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../templates/static/css/sign-in-up.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div class="blur-bg-overlay"></div>
    <div class="form-popup">
      <div class="form-box">
        <div class="form-details">
          <h2>Welcome Back</h2>
          <p>
            Please log in using your personal information to stay connected with
            us.
          </p>
        </div>
        <div class="form-content">
          <h2>LOGIN</h2>
          <form action="Account.html" target="_blank">
            <div class="input-field">
              <input type="text" required />
              <label>Email</label>
            </div>
            <div class="input-field">
              <input type="password" required />
              <label>Password</label>
            </div>
            <a href="#" class="forgot-pass">Forgot Password?</a>
            <button type="submit">
              Log In
            </button>
          </form>
          <div class="bottom-link">
            Don't have account?
            <a href="Sign-Up.html">Sign-Up</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
