<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet"/>
  <script
      src="https://kit.fontawesome.com/d2b0b7685a.js"
      crossorigin="anonymous"
    ></script>
  <title>Service-Finder</title>
</head>
<body>
  <nav>
    <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
      </label>
      <label class="logo">Service-Finder</label>
      <ul>
        <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}" >About Us</a></li>
        <li><a href="{{ url_for('faq') }}">FAQ</a></li>
        <li><a href="{{ url_for('service') }}">Services</a></li>
      </ul>
  </nav>
  <section class="image1">
    <div class="container">
      <h1>Welcome to your one-stop Local Service Finder</h1>
      <p>
        We are at your beck and call to provide you with reliable and
        efficient service providers that can meet your needs with just a call.
      </p>
      <p>Want to be a service provider? <a href="{{ url_for('signup') }}">Join us</a></p>
      <p>Already one of us? <a href="{{ url_for('signin') }}">Reconnect with us</a></p>
      <form action="/search" class="search-bar" method="post">
        <input type="text" name="service" placeholder="What service do you need today?" />
        <button type="submit">Search</button>
      </form>
      </div>
    </section>
  <footer>
    <div class="bottom">
      <div class="btm connect">
        <h3>CONNECT WITH US</h3>
          <li><a href="http://www.facebook.com">Facebook</a></li>
          <li><a href="http://www.twitter.com">Twitter</a></li>
      </div>
      <div class="btm help">
        <h3>NEED HELP?</h3>
        <li><a href="{{ url_for('contact') }}"target="_blank">Contact Us</a></li>
      </div>
      <div class="btm pay">
        <h3>PAYMENT METHODS</h3>
        <h4>Visit our <a href="{{ url_for('faq') }}">FAQ</a> to learn more.</h4>
      </div>
    </div>
  </footer>
</body>
</html>