*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: green;
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right:none;
    height: 50px;
    color: white;
}

nav li{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo{
    flex:1;
    font-size: 30px;
    font-weight: 700;
    float: left;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Ubuntu', sans-serif;
}
@keyframes moving {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
.banner {
    background-color: #4CAF50;
    color: white;
    padding: 5px; /* Reduced padding to decrease size */
    text-align: center;
    overflow: hidden; /* Ensure the text stays within the banner */
}
.banner h1 {
    font-size: 1em; /* Reduced font size */
    animation: moving 20s linear infinite; /* Increased duration to slow down movement */
}
form {
    margin: 0 auto;
    max-width: 600px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group label {
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}
.form-group textarea {
    height: 150px; /* Increased height */
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}
@media (min-width: 600px) {
    .form-group {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .form-group label {
        margin-right: 10px;
        width: 30%;
        text-align: right;
    }
}

.intro h2{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}
.h2 h3{
    margin-top: 20px;
    font-size: 22px;
}
.flashes {
    color: grey;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
}