*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
    background: url("./emmanuel-ikwuegbu--0-kl1BjvFc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.blur-bg-overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}
.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    max-width:720px;
    width:100%;
    background: white;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.form-popup .form-box{
    display: flex;
}

.form-box .form-details{
    max-width: 330px;
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    justify-content:center;
    background-color: #5db493;
    color: #fff;
    background-size: cover;
    background-position: center;

}

.form-box h2{
    text-align: center;
    margin-bottom: 35px;
}

.form-box .form-content{
    width: 100%;
    padding: 35px;
}

form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input{
    width: 100%;
    height: 100%;
    border: 1px solid #717171;
    outline: none;
    border-radius: 3px;
    font-size: 0.95rem;
    padding: 0 15px;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0px;

}

.input-field input:focus{
    border-color: #5db493;
}

form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events:none;
    transform: TranslateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label{
    transform: TranslateY(-120%);
    color: #5db493;
    font-size: 0.75rem;

}
.form-box a{
    color:  #5db493;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text){
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #5db493;
    transition: 0.2s ease;
}

form button:hover{
    background: #60a389;
}

.form-box .bottom-link{
    text-align: center;
}

.poilcy-text{
    display:flex;
    align-items:center;
}

.policy-text input{
    width:14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }
    .form-box .form-details {
        display: none;
    }
    .form-box .form-content {
        padding: 30px 20px;
    }
}